@font-face {
    font-family: 'LibreFranklin';
    src: url('assets/fonts/LibreFranklin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    background-color: #02020A;
    margin: 0px;
    font-family: LibreFranklin;
}
html, body { height: 100%; }
body { margin: 0;}
